.user {
  border: 1px solid $accent-gray;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.10);
  margin-top: 20px;
  display: flex;
}

.user-avatar {
  padding-right: 10px;
}

.user-image {
  max-width: 75px;
}